---
import { abouts } from "../static/data.json";
---

<div id="about" class="bg-[#171717] ">

  <div class="container">
  
      <div class="flex flex-col items-center justify-center ">
        <h1 class="not-italic font-bold	text-[#ffffff] md:text-5xl text-4xl sm:mt-0 mt-5">About</h1>

        <p class="font-normal	not-italic text-center md:text-lg text-base text-[#ffffff] md:w-[745px] sm:w-[500px] mt-10">
I am Abduvahid Vahidov, I have been working as a frontend developer for 2 years. I learned programming on Mohirdev online platform,
Currently, I am working as a front-end developer at Mohirdev and Wasaf. The atmosphere here and the team are fun to work with. I intend to do great things with the team in the future. so far I have managed to implement 4-5 projects.
</p>

        <div class="flex justify-around w-full mt-20 mb-16 md:flex-nowrap flex-wrap">
            {
              abouts.map((item) =>
                <div v-for="item in abouts" class="flex flex-col items-center justify-center md:mt-0 md:mx-0 	mt-8 mx-5">
                    <div class="flex items-center justify-center w-[3rem] h-[3rem] p-1 rounded-full bg-[#212121]"><div class="w-[1rem] h-[1rem] bg-[#27AE60] rounded-full"></div></div>
                    <h1 class="text-[#ffffff] font-bold not-italic text-lg	mt-3">{item.title}</h1>
                    <p class="text-[#ffffff] font-normal not-italic text-lg	mt-3">{item.email}</p>
                </div>
              )
            }
        </div>
      </div>

  </div>
</div>