---
// import { jobs } from "../static/data.json";
---

<div id="contact" class="bg-[#171717] min-h-screen">

  <div class="container">
  
      <div class="flex flex-col items-center justify-center ">
        <h1 class="not-italic font-bold	text-[#ffffff] md:text-5xl text-4xl sm:mt-20 mt-5">Get in touch</h1>

        <div class=" xl:flex-row flex-col items-center justify-around w-full mt-20 mb-16 xl:flex-nowrap flex-wrap ">

          <form class="wrapper grid grid-cols-2 gap-16">

            <div class="input-data">
                  <input type="text" required class="bg-transparent text-[#ffffff]">
                  <div class="underline"></div>
                  <label>Name</label>
            </div>
            <div class="input-data">
                  <input type="text" required class="bg-transparent text-[#ffffff]">
                  <div class="underline"></div>
                  <label>Last name</label>
            </div>
            <div class="input-data">
                  <input type="text" required class="bg-transparent text-[#ffffff]">
                  <div class="underline"></div>
                  <label>Email</label>
            </div>
            <div class="input-data">
                  <input type="text" required class="bg-transparent text-[#ffffff]">
                  <div class="underline"></div>
                  <label>Phone number</label>
            </div>
            <div class="input-data col-span-2 ">
                  <textarea placeholder="Message" required class="bg-transparent text-[#ffffff] p-4"></textarea>
                  <div class="underline"></div>
            </div>

            <div class="mt-24 flex items-center justify-center col-span-2">
            <a href="#" class="text-sm	normal-case font-medium not-italic border-2 border-transparent	py-2 px-7 bg-[#27AE60] text-[#fff]  mr-2"><button>Submit now</button></a>
            </div>
          </form>
        </div>
      </div>

      
      <p class="text-sm	normal-case not-italic text-[#fff] flex items-end justify-center xl:mt-24">© Abduvohid 2023</p>
    </div>
</div>


<style>
.wrapper{
  background:transparent;
  padding: 30px;
}
.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
  background: transparent;
}
.wrapper .input-data input{
  height: 100%;
  width: 100%;
  border: none;
  outline: 0;
  font-size: 17px;
  border-bottom: 2px solid #4F4F4F;
}
.wrapper .input-data textarea{
  height: 10rem;
  width: 100%;
  border: 2px solid #4F4F4F;
  outline: 0;
  font-size: 14px;
  border-bottom: 2px solid #4F4F4F;
  resize: none;
  transition: all 0.3s ease;
}

.input-data textarea:focus{
  border: 3px solid #27AE60;
  font-size: 10px;
}
.input-data textarea::-webkit-input-placeholder{
  color: #4f4f4f;
}
.input-data textarea:focus::-webkit-input-placeholder{
  color: #27AE60;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-25px);
  font-size: 10px;
  color: #27AE60;
}
.wrapper .input-data label{
  position: absolute;
  font-size: 14px;
  width: 7rem;
  bottom:10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
  
.wrapper .input-data .underline{
  position: absolute;
  bottom:0px;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height:100%;
  width: 100%;
  background:#27AE60;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}
</style>