---
---

<header
  id="header"
  class="w-full relative top-0 left-0 bg-[#171717] py-3 min-h-screen !font-nunito"
>
  <nav
    id="navbar"
    class="fixed  block top-0 left-0 w-[100%] z-50 mt-3"
  >
    <div class="sm:container">
      <div
        class="sm:flex items-center justify-between "
      >
        <div class="logo shrink-0 py-2 flex sm:justify-start  justify-center">
          <a href="#header">
            <h1 class="font-bold text-[#ffffff] md:text-4xl text-3xl not-italic ">Abduvohid</h1>
          </a>
        </div>
        <div
          class="flex sm:flex-row text-white justify-around  sm:justify-end sm:gap-x-4 lg:gap-x-8 flex-1  text-lg font-normal"
        >
          <a href="#about">About me</a>
          <a href="#services">Services</a>
          <a href="#contact">Contact me</a>
        </div>
      </div>
    </div>
  </nav>
  
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  ">
    <div
      class="text-[30px] md:text-[42px] xl:w-[1200px] xl:text-[72px] text-white text-center  font-black flex items-center flex-col-reverse xl:flex-row"
    >
      <div class="xl:w-[40%]">
        <h1 class="font-bold	not-italic xl:text-5xl text-4xl	 flex flex-col items-center xl:items-start normal-case mt-5 xl:mt-0">Hi, I am
          <span class=" inline-block mt-5">Abduvohid Vohidov</span> </h1>

        <h6 class="font-medium not-italic text-lg	flex justify-center xl:justify-start xl:items-start mt-3 normal-case">Frontend Developer</h6>

        <div class="flex mt-10">
          <a href="#" class="text-sm normal-case font-medium not-italic border-2 border-transparent py-2 px-7 bg-[#27AE60] mr-2"><button>Download CV</button></a>
          <a href="#" class="text-sm	normal-case font-medium not-italic border-2 py-2 px-8	border-[#F2F2F2] ml-2"><button>Learn More</button></a>
        </div>
      </div>

      <div class="xl:w-[60%] flex justify-end">
        <div class="rounded-full flex items-center justify-center w-[14rem] h-[14rem] md:w-[20rem] md:h-[20rem] xl:w-[32rem] xl:h-[32rem] 2xl:w-[38rem] 2xl:h-[38rem] bg-[#181818] border-2 border-[#202020]">
          <img class="object-cover rounded-full w-[12rem] h-[12rem] md:w-[18rem] md:h-[18rem] 2xl:w-[35rem] 2xl:h-[35rem] xl:w-[29rem] xl:h-[29rem]" src="/public/images/vohid-2.jpg" alt="">
        </div>
      </div>
    
    </div>
  </div>


  
</header>